.manage-doctor-container {
  padding: 10px;
  .manage-doctor-title {
    text-align: center;
    margin: 15px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .more-info {
    margin: 10px 0;
    display: flex;
    width: 100%;
    .content-left {
      width: 50%;
      margin-right: 5px;
      .form-control {
        width: 100%;
      }
    }

    .content-right {
      width: 50%;
      margin-left: 5px;
      .form-control {
        width: 100%;
      }
    }
  }

  .save-content-doctor {
    margin: 10px 0px;
    border: solid 1px;
    border-radius: 5px;
    float: right;
    width: fit-content;
    &:hover {
      opacity: 0.8;
      scale: 1.01;
      background-color: #0071ba;
      color: white;
    }
  }
}
